body{
  background-color: rgb(212, 216, 210);
}

#bottom{
  background-color: rgb(188, 190, 212);
  width: 25%;
  float: center;
}


h1{
  background-color: rgb(159, 162, 189);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  letter-spacing: 40px;
  padding-top: 30px;
}

h2{
  background-color: rgb(159, 162, 189);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}

p{
  font-size: 30px;
  padding: 30px;

}

ul{
  list-style: inside;
  padding: 20px;
  margin: auto;
  font-size: 30px;
  line-height: 1.5;
}

ol{
  list-style:georgian;
  padding: 30px;
  padding-left: 30px;
  width: 100%;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
}



/* Style the header */
.header {
  background-color: rgb(159, 162, 189);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Page content */
.content {
  padding: 16px;
}

/*The sticky class is added to the header with JS when it reaches its scroll position*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/*Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0)*/
.sticky + .content {
  padding-top: 102px;
}

